* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --light: #fff;
    --dark: #000;
    --blue: #0a0af3;
    --green: #008000;
}

body {
    background: #ddd;
}

#loginForm,
#registerForm {
    margin-top: 100px;
}

.nav-link-form {
    text-align: center;
    margin-top: 10px;
}

label {
    padding: 10px;
}

input {
    border-radius: 10px 4px;
    border: 1px solid var(--dark);
    outline: 2px solid #333;
}

input::placeholder {
    font-style: italic;
}